.log-list-table{
    margin: auto;
    margin-top: 1%;
    box-shadow: 1px 1px 10px 1px gray;
    border-style: solid;
    /* border-radius: 0.5rem; */
    border-color: #f2a000;
   display: block;
   width: 55%;
   max-height: 500px;
   overflow-y: auto;
}
.log-list-header{
    background-color: #f2a000;
    color: white;
    padding: 10px;
    position: relative;
}

.log-header-bigger{
    width: 90%;
}
.log-header-smaller{
    width: 10%;
}
tr{
    width: 100%;
}

tbody{
    max-height: 50%;
    overflow-y: scroll;
}
tbody td{
    padding: 30px;
  
}
tbody tr:nth-child(odd){
  background-color: #f5f9fc;
}



input {
    display:none;
}
.upload-label {

    width: 5%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(to right, #f2a000, #f2a000);
    color: white;
    font-family: sans-serif;
    transition: all .5s;
    box-shadow: 1px 1px 15px 3px gray;
    margin-bottom: 2%;

    margin-top: 2%;
}
.upload-label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

body{

    background-color: rgb(231, 234, 235);
}